﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="form-group col-md-12">
        <b>Configure await</b><label for="configureAwait">(false)</label>
        <input class="hidden" id="configureAwait" type="checkbox" />
    </h2>
    <h2 class="form-group col-md-12">
        <label for="wait">Wait for resut</label>
        <input id="wait" type="checkbox" />
    </h2>
    <a data-action="randomNumber" href="@Url.Action("GetRandomNumber", "Home")" class="btn btn-primary btn-lg">Get random number</a>
    <a data-action="implicitParallelism" href="@Url.Action("ImplicitParallelism", "Home")" class="btn btn-primary btn-lg">Implicit Parallelism</a>
</div>
<h2>Requests: <span data-requestscount></span></h2>

<div class="hidden" data-loader>
    <img src="~/images/tenor.gif" />
</div>
<h2 class="hidden" data-container>
</h2>

@section Scripts{
    <script>
        let requestsCount = 0;
        $('[data-action="randomNumber"]').on('click',
            (event) => {
                event.preventDefault();
                var url = $(event.currentTarget).attr('href');
                url += '?configureAwait=' + $('#configureAwait').is(':checked') +
                    '&wait=' + $('#wait').is(':checked');

                $('[data-container]').addClass('hidden');
                $('[data-loader]').removeClass('hidden');
                $.get(url)
                    .done((data) => {
                        $('[data-container]').html('Random number: ' + data.response.randomNumber +
                            '<h2>thread before: ' + data.threadBefore + '</h2>' +
                            '<h2>thread during: ' + data.response.randomNumberThreadId + '</h2>' +
                            '<h2>thread after: ' + data.threadAfter + '</h2>');
                        $('[data-container]').removeClass('hidden');
                        $('[data-loader]').addClass('hidden');
                    });
            });

        $('[data-action="implicitParallelism"]').on('click',
            (event) => {
                event.preventDefault();
                var url = $(event.currentTarget).attr('href');
                url += '?configureAwait=' + $('#configureAwait').is(':checked');

                $('[data-container]').addClass('hidden');
                $('[data-loader]').removeClass('hidden');
                $.get(url)
                    .done((data) => {
                        requestsCount++;
                        $('[data-requestscount]').html(requestsCount);
                        if (data.result.length === 2) {
                            $('[data-action="implicitParallelism"]').trigger('click');
                        } else {
                            requestsCount = 0;
                        }
                        $('[data-container]').html('List size: ' + data.result.length +
                            '<h2>thread before: ' + data.threadBefore + '</h2>' +
                            '<h2>thread after: ' + data.threadAfter + '</h2>');
                        $('[data-container]').removeClass('hidden');
                        $('[data-loader]').addClass('hidden');
                    });
            });
        $('#configureAwait').on('change',
            (event) => {
                if ($(event.currentTarget).is(':checked')) {
                    $('[for="configureAwait"').html('(true)');
                } else {
                    $('[for="configureAwait"').html('(false)');
                }
            });
    </script>
}